html {
   background-image: url(https://images.apple.com/macos/high-sierra-preview/overview/beta/image_large_2x.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

#container {
   font-family: 'Montserrat', sans-serif;
   background: rgb(34, 39, 41);
   width: 22rem;
   height: 31rem;
   display: grid;
   padding: 2px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   margin: 10% auto;
   grid-gap: 2px;
   border-radius: 10px;
   box-shadow: 7px 10px 20px 2px rgba(0, 0, 0, 0.32);
}

 .credits {
   position: absolute;
   transform: translate3d(-50%, 0, 0);
   left: 50%;
   bottom: 0%;
}

p {
   color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
}

.broken {
   transform-origin: top left;
   animation: fall 3s;
   animation-fill-mode: forwards;
}

@keyframes fall {
   0% {
      transform: translate3d(0,0,0);
   }
   25% {
      transform: rotate(45deg);
   }
   50% {
      transform: rotate(20deg);
   }
   75% {
      transform: rotate(30deg);
   }
   80% {
      transform: translate3d(0, 1500px, 0);
      opacity: 1;
   }
   83% {
      opacity: 0;
   }
   100% {
      transform: translate3d(0, -2000px, 0);
      opacity: 0;
   }
}

/* max 12 digits allowed */

#display {
   font-weight: 200;
   background: rgb(200, 200, 200);
   color: black;
   text-align: right;
   grid-column: 1 / 5;
   font-size: 3rem;
   padding-top: 1.25rem;
   padding-right: 1rem;
   height: 4.5rem;
   margin-bottom: 0.5rem;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.reset {
   background-color: Transparent;
   color: #cecfd3;
   font-size: 120px;
   position: absolute;
     top: 45%;
     left: 46%;
   visibility: hidden;
}
.reset:hover {
   color: #8b8b8b;
}
.reset.show {
   animation: fadein 6.25s;
   animation-fill-mode: forwards;
}
@keyframes fadein {
   0% {
      visibility: hidden;
      opacity: 0;
   }
   50% {
      visibility: hidden;
      opacity: 0;
   }
   100% {
      visibility: visible;
      opacity: 1;
   }
}

.operate {
   /* grid-column: 4; */
   font-size: 3rem;
   background-color: #FF9800;
}

.numeric {
   background-color: rgb(230, 230, 230);
   font-size: 3rem;
}

#btn-0 {
   grid-column: 1 / 3;
   text-align: left;
   padding-left: 1.90rem;
   border-bottom-left-radius: 10px;
}

#btn-equals {
   border-bottom-right-radius: 10px;
}

#btn-clear {
   grid-column: 1;
   grid-row: 2 / 3;
   font-size: 2.5rem;
}

#btn-posneg {
   grid-column: 3 / 4;
   font-size: 40px;
}

#btn-dec {
   padding-bottom: 1rem;
}

button {
   font-weight: 300;
   cursor: pointer;
   outline: none;
   border: none;
   transition: all 0.2s;
}

button:hover {
   color: cadetblue;
}
.pressed {
   color: cadetblue;
   opacity: 0.85;
}

button:active {
   opacity: 0.85;
}
