html {
   margin: 0;
}

.clipboard-btn {
   font-size: 3rem;
}

#container:before {
   margin: -5px -10px -10px -55px;
   background-image: url(https://images.apple.com/macos/high-sierra-preview/overview/beta/image_large_2x.jpg);
   content: "";
   position: fixed;
   left: 0;
   right: 0;
   top: -400px;
   z-index: -1;
   display: block;
   width: 150%;
   height: 150%;
   background-size: cover;
   -webkit-filter: blur(5px);
   filter: blur(25px);
}

#container {
   font-family: 'Montserrat', sans-serif;
   background: rgb(34, 39, 41);
   width: 22rem;
   height: 31rem;
   display: grid;
   padding: 2px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   margin: 12rem auto;
   grid-gap: 1px;
   border-radius: 10px;
   box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, 0.32);
}

/* max 12 digits allowed */

#display {
   font-weight: 200;
   background: rgb(200, 200, 200);
   color: black;
   text-align: right;
   grid-column: 1 / 5;
   font-size: 3rem;
   padding-top: 1.25rem;
   padding-right: 1rem;
   height: 4.5rem;
   margin-bottom: 0.5rem;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.operate {
   /* grid-column: 4; */
   font-size: 3rem;
   background-color: #FF9800;
}

.numeric {
   background-color: rgb(230, 230, 230);
   font-size: 3rem;
}

#btn-0 {
   grid-column: 1 / 3;
   text-align: left;
   padding-left: 1.90rem;
   border-bottom-left-radius: 10px;
}

#btn-equals {
   border-bottom-right-radius: 10px;
}

#btn-clear {
   grid-column: 1;
   grid-row: 2 / 3;
   font-size: 2.5rem;
}

#btn-posneg {
   grid-column: 2 / 3;
}

#btn-percent {
   grid-column: 3 / 4;
}

#btn-dec {
   padding-bottom: 1rem;
}

button {
   font-weight: 300;

   cursor: pointer;
   outline: none;
   border: none;
   transition: all 0.2s;
}

button:hover {
   color: cadetblue;
}

button:active {
   opacity: 0.85;
}
